<html>
	<head>
	<title>This page is awesome!</title>
	</head>	
		<body>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

			<h4>Some info about Rose</h4>

			<ul>
				<li>Born in USA - Dual Citizenship w/Canada</li>
				<li>Enjoys Hiking</li>
				<p>
				<%= image_tag"Rose in Newfoundland Sept 2006.jpg", size:"400x300" %>
				</p>

				<li>Some Interesting Websites</li>

				<a href="http://www.fitbit.com/" target="_blank">Visit Fitbit!</a>
				<br/>
				<a href="http://www.hike-inn.com/" target="_blank">Hiking at Amicolola!</a>
				<br/>
				<a href="http://www.wired.co.uk/news/archive/2014-04/11/glow-in-the-dark-highway-launches" target="_blank">Glow-in-the-Dark Roads!</a>

			</ul>

		</body>

</html>
