<html>	
	<body>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<br /><h1>Some Info About Rose</h1>

			<ul>
				<li>Born in USA - Dual Citizenship w/Canada</li>
				<li>Enjoys Hiking</li>
				<p>
				<%= image_tag"Rose in Newfoundland Sept 2006.jpg", size:"200x150" %>
				</p>

<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Name & Message</label>
    <input type="password" class="form-control" id="exampleInputNameandMessage1" placeholder="Name & Message">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

				<li>Some Interesting Websites</li>

				<a href="http://www.linkedin.com/in/roseconnollype/" target="_blank">LinkedIn Profile</a>
				<br/>
				<a href="https://github.com/rconnolly1615/" target="_blank">Git Hub Repos</a>
				<br/>
				<a href="http://www.hike-inn.com/" target="_blank">Hiking at Amicolola!</a>
				<br/>
				<a href="http://www.wired.co.uk/news/archive/2014-04/11/glow-in-the-dark-highway-launches" target="_blank">Glow-in-the-Dark Roads!</a>

			</ul>

		</body>

</html>
