<h1>ajax2.html.erb</h1>
<script type="text/javascript">

  $(document).ready(function () {

   var title = $('#title');

   alert(title.html());

  });

  </script>

  <p id="title">
  	This is a paragraph.
  </p>