<!DOCTYPE html>
<html>
<head>
  <title>Blogger515</title>
  
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class=”navbar navbar-default”>
	<div class="containter">
		<div class="navbar=header">
			<a class="navbar-brand" href="/welcome/home/"> 
	 	<%= image_tag"boulders.jpg", size: "100x75" %></a>
	 	</div>
	 	<ul class="nav nav-pills">
	 		<li class="active"><a href="/welcome/about/">About</a></li>
	 		<li class="active"><a href="/blogs/">Blogs</a></li>
 	 		<li class="active"><a href="/blog_posts/">Blog Posts</a></li>
	 		<li class="active"><a href="/blog_comments/">Blog Comments</a></li>
  		</ul>
  	</div>
</div>

<%= yield %>

</body>
</html>
